@model Integrador.Models.Helper.DispositivoConcreto

@{
    ViewBag.Title = "Agregar dispositivo inteligente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-bottom: 20px; padding-top: 15px; padding-left: 30px">
    <h1>Agregar dispositivo inteligente</h1>
</div>


@using (Html.BeginForm("Create", "DispositivoInteligente", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                @Html.DropDownListFor(x => x.IdDispositivo, new SelectList(ViewBag.Dispositivos, "Value", "Text"), new { @class = "form-control dropdown-field" })
            </div>
        </div>
           <div class="form-group">
             <div class="col-md-10">
                 <label>Marca</label>
                 @Html.DropDownListFor(model => model.Marca, (IEnumerable<SelectListItem>)ViewBag.Marcas, new { @class = "form-control" })
             </div>
        </div>
        <input type="submit" value="Agregar" class="btn btn-default" style="color: whitesmoke; background-color: indigo" />
        <br><br>
    </div>
}

    <div>
        @Html.ActionLink("Volver al listado", "Index", "DispositivoCliente", new { id = Session["ClientId"] }, null)
    </div>
