@model Integrador.Models.DispositivoInteligente

@{
    ViewBag.Title = "Detalle del dispositivo inteligente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-bottom: 15px">
    <h2>Detalle del dispositivo inteligente</h2>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Nombre</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreGenerico)
        </dd>

        <dt>
            <label>Consumo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumo)
        </dd>

        <dt>
            <label>Uso mensual máximo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoMensualMax)
        </dd>

        <dt>
            <label>Uso mensual mínimo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoMensualMin)
        </dd>

        <dt>
            <label>Encendido</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Encendido)
        </dd>

        <dt>
            <label>Modo ahorro</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ModoAhorroDeEnergia)
        </dd>

    </dl>
</div>
<p>
    @if (Model.Encendido == true)
    {
        using (Html.BeginForm())
        {
            @Ajax.ActionLink("Apagar", "Apagar", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST" })
        }
    }
    else
    {
        using (Html.BeginForm())
        {
            @Ajax.ActionLink("Encender", "Encender", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST" })
        }
    }
    <span>|</span>
    @using (Html.BeginForm())
    {
        @Ajax.ActionLink("Modo ahorro", "ActivarAhorro", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST" })
    }
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver al listado", "Index", "DispositivoCliente")
</p>
