@model Integrador.Models.Dispositivo

@{
    ViewBag.Title = "Detalle del dispositivo inteligente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-bottom: 15px">
    <h2>Detalle del dispositivo inteligente</h2>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreGenerico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreGenerico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsoMensualMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoMensualMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsoMensualMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoMensualMin)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
