@model Integrador.Models.Clases.Helper.ListadoDispositivos


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h4 style="margin-top:2.3em">Dispositivos Inteligentes</h4>
<p>
    @Html.ActionLink("Agregar", "Create", "DispositivoInteligente", new { @title = "Nuevo dispositivo Inteligente" })
</p>
<table class="table">
    <tr>
        <th>
            Nombre genérico
        </th>
        <th>
            Consumo
        </th>
        <th>
            Uso mensual máximo
        </th>
        <th>
            Uso mensual mínimo
        </th>
        <th>
            Encendido
        </th>
        <th>
            Modo ahorro de energía
        </th>
        <th>
            Marca
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.DispositivosInteligente)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "DispositivoInteligente", new { id = item.Id })">
                    @Html.DisplayFor(modelItem => item.NombreGenerico)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoMensualMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoMensualMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Encendido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModoAhorroDeEnergia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaDispositivo.Id)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @title = "Eliminar" })
            </td>
        </tr>
    }

</table>
<hr />

<h4>Dispositivos Estándar</h4>

<p>
    @Html.ActionLink("Agregar", "Create", "DispositivoEstandar", new { @title = "Nuevo dispositivo" })
</p>
<table class="table">
    <tr>
        <th>
            Nombre genérico
        </th>
        <th>
            Consumo
        </th>
        <th>
            Uso mensual máximo
        </th>
        <th>
            Uso mensual mínimo
        </th>
        <th>
            Adaptado
        </th>
        <th>
            Marca
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.DispositivosEstandar)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "DispositivoEstandar", new { id = item.Id })">
                    @Html.DisplayFor(modelItem => item.Nombre)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoMensualMax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoMensualMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inteligente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaDispositivo.Id)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @title = "Eliminar" })
            </td>
        </tr>
    }

</table>