@model Integrador.Models.Clases.Helper.ListadoDispositivos


@{
    ViewBag.Title = "Mis dispositivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron mt-4" style="background-color: indigo; color: whitesmoke; padding-bottom: 20px; padding-left: 25px">
    <h2>Dispositivos inteligentes</h2>
</div>

<p>
    @Html.ActionLink("Importar desde JSON", "CargarDispositivo", "DispositivoCliente", null, new
    { @class = "btn btn-default", style = "color: whitesmoke; background-color: indigo", hidefocus = "hidefocus" })
</p>
<p>
    @Html.ActionLink("Agregar", "Create", "DispositivoInteligente")
</p>
<p>
</p>
<table class="table">
    <tr>
        <th>
            Nombre genérico
        </th>
        <th>
            Consumo
        </th>
        <th>
            Uso mensual máximo
        </th>
        <th>
            Uso mensual mínimo
        </th>
        <th>
            Encendido
        </th>
        <th>
            Modo ahorro de energía
        </th>
        <th>
            Marca
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.DispositivosInteligente)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "DispositivoInteligente", new { id = item.Id })">
                    @Html.DisplayFor(modelItem => item.NombreGenerico)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumo) kWh
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoMensualMax) hs
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoMensualMin)  hs
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Encendido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModoAhorroDeEnergia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaDispositivo.Id)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @title = "Eliminar" })
            </td>
        </tr>
    }

</table>
<hr />

<div class="jumbotron mt-4" style="background-color: indigo; color: whitesmoke; padding-bottom: 18px; padding-left: 25px; padding-top: 15px">
    <h2>Dispositivos estándar</h2>
</div>

<p>
    @Html.ActionLink("Agregar", "Create", "DispositivoEstandar")
</p>
<table class="table">
    <tr>
        <th>
            Nombre genérico
        </th>
        <th>
            Consumo
        </th>
        <th>
            Uso mensual máximo
        </th>
        <th>
            Uso mensual mínimo
        </th>
        <th>
            Uso estimado
        </th>
        <th>
            Encendido
        </th>
        <th>
            Modo ahorro de energía
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.DispositivosEstandar)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "DispositivoEstandar", new { id = item.Id })">
                    @Html.DisplayFor(modelItem => item.NombreGenerico)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consumo) kWh
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoMensualMax)  hs
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoMensualMin)  hs
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UsoEstimado)  hs
            </td>
            @if (item.ModuloAdaptador == null)
            {
                <td>
                    N/A
                </td>
                <td>
                    N/A
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.ModuloAdaptador.Encendido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModuloAdaptador.ModoAhorroDeEnergia)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.MarcaDispositivo.Id)
            </td>
            <td>
                @Html.ActionLink("Eliminar", "Delete", "DispositivoEstandar", new { id = item.Id }, new { @title = "Eliminar" })
            </td>
        </tr>
    }

</table>