@using Integrador.ORM;
@{
    ViewBag.Title = "Zonas";
}


<h2><u>Transformadores por zona</u></h2><br>

@{
    foreach (ZonaGeografica zona in ViewBag.Zonas)
    {

        <u><strong>Zona :</strong></u><code> @zona.nombre_zona</code><br>
        <u><strong>Radio de cobertura :</strong></u> @zona.radio<span>&nbsp;mtrs</span>

        <br><br>

        foreach (var item1 in zona.transformadores)
        {
            <u>TRANSFORMADOR &nbsp; @item1.nombre</u>
            <ul style="list-style-type:circle">

                <li>Activo : @item1.activo</li>
                <!--<li>Zona : @item1.zona_id</li>-->
                <li>Energia que suministra : @item1.energia_suministrada&nbsp;kW</li>
            </ul>
            <br>
        }
        <br><br>
    }
}
