@model Integrador.Models.TemplateDispositivo

@{
    ViewBag.Title = "Crear dispositivo";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke">
    <h1>Agregar dispositivo</h1>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-10">
                <label>Tipo</label>
                @Html.EditorFor(model => model.Tipo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Tipo, "", new { @class = "text-danger" })
</div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Equipo concreto</label>
                @Html.EditorFor(model => model.EquipoConcreto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EquipoConcreto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Inteligente</label>
                <div class="checkbox">
                    @Html.EditorFor(model => model.Inteligente)
                    @Html.ValidationMessageFor(model => model.Inteligente, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Bajo consumo</label>
                <div class="checkbox">
                    @Html.EditorFor(model => model.BajoConsumo)
                    @Html.ValidationMessageFor(model => model.BajoConsumo, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>Consumo (kWh)</label>
                @Html.EditorFor(model => model.Consumo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Consumo, "", new { @class = "text-danger" })
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Agregar" class="btn btn-default" style="background-color: indigo; color: white" />
                <label>     </label>
            @Html.ActionLink("Volver", "Index")
        </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
