@model Integrador.Models.TemplateDispositivo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TemplateDispositivo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EquipoConcreto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EquipoConcreto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inteligente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inteligente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BajoConsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BajoConsumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
