@model IEnumerable<Integrador.Models.TemplateDispositivo>

@{
    ViewBag.Title = "Dispositivos";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-bottom: 20px; padding-top: 15px">
    <h2>Dispositivos</h2>
</div>

<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Tipo
        </th>
        <th>
            Equipo concreto
        </th>
        <th>
            Inteligente
        </th>
        <th>
            Bajo consumo
        </th>
        <th>
            Consumo (kWh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipoConcreto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inteligente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BajoConsumo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consumo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
