@model IEnumerable<Integrador.Models.TemplateDispositivo>

@{
    ViewBag.Title = "Index";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke">
    <h1>Dispositivos</h1>
</div>

<p>
    @Html.ActionLink("+Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipoConcreto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Inteligente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BajoConsumo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Consumo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EquipoConcreto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inteligente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BajoConsumo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consumo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
