@model IEnumerable<Integrador.Models.Cliente>

@{
    ViewBag.Title = "Hogares";
}
<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-bottom: 20px; padding-top: 15px">
    <h2>Hogares</h2>
</div>


<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Apellido
        </th>
        <th>
            Tipo de documento
        </th>
        <th>
            Nro. de documento
        </th>
        <th>
            Puntos
        </th>
        <th>
            Cant. Dispositivos
        </th>
        <th>
            Consumo
        </th>
        <th>
            Domicilio
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroDoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Puntos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dispositivos.Count)
            </td>
            <td>
                @item.ConsumoHogar() Kwh
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Domicilio)
            </td>
        </tr>
    }

</table>
