@model IEnumerable<Integrador.Models.Clases.Sensor>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Magnitud)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", "Sensors", new { id = item.Id })">
                @Html.DisplayFor(modelItem => item.Id)
            </a>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Magnitud)
        </td>
        <td>
            @Html.ActionLink("Simular Medicion", "Edit", new { id=item.Id })
        </td>
    </tr>
}

</table>
