@model Integrador.Models.DispositivoEstandar

@{
    ViewBag.Title = "Eliminar dispositivo estándar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-bottom: 15px">
    <h2>Eliminar dispositivo estándar</h2>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Nombre</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreGenerico)
        </dd>

        <dt>
            <label>Consumo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumo)
        </dd>

        <dt>
            <label>Uso mensual máximo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoMensualMax)
        </dd>

        <dt>
            <label>Uso mensual mínimo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoMensualMin)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" style="background-color:indigo; color: whitesmoke" /> |
        @Html.ActionLink("Volver al listado", "Index", "DispositivoCliente", new { id = Session["ClientId"] }, null)
    </div>
    }
</div>
