@model Integrador.Models.DispositivoEstandar

@{
    ViewBag.Title = "Detalle del dispositivo estándar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-bottom: 15px">
    <h2>Detalle del dispositivo estándar</h2>
</div>


<p>
    @Html.ActionLink("Asociar Actuador", "AsociarActuador", "DispositivoEstandar", new { id = Model.Id }, null)
</p>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Nombre</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreGenerico)
        </dd>

        <dt>
            <label>Consumo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumo)
        </dd>

        <dt>
            <label>Uso mensual máximo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoMensualMax)
        </dd>

        <dt>
            <label>Uso mensual mínimo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoMensualMin)
        </dd>

        <dt>
            <label>Uso estimado</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoEstimado)
        </dd>

    </dl>
</div>
<p>
    @if (Model.ModuloAdaptador != null)
    {
        if (Model.ModuloAdaptador.Encendido)
        {
            using (Html.BeginForm())
            {
                <li> @Ajax.ActionLink("Apagar", "Apagar", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST" })</li>
            }
        }
        else
        {
            using (Html.BeginForm())
            {
                <li>@Ajax.ActionLink("Encender", "Encender", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST" })</li>
            }
        }
        using (Html.BeginForm())
        {
            <li> @Ajax.ActionLink("Modo ahorro", "ActivarAhorro", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST" })</li>
        }
    }
    else
    {
        <li>@Html.ActionLink("Adaptar", "Adaptar", new { id = Model.Id })</li>
    }
    <li>@Html.ActionLink("Volver al listado", "Index", "DispositivoCliente", new { id = Session["ClientId"] }, null)</li>
</p>
