@model Integrador.Models.DispositivoEstandar

@{
    ViewBag.Title = "Detalle del dispositivo estándar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-bottom: 15px">
    <h2>Detalle del dispositivo estándar</h2>
</div>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Nombre</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreGenerico)
        </dd>

        <dt>
            <label>Consumo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumo)
        </dd>

        <dt>
            <label>Uso mensual máximo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoMensualMax)
        </dd>

        <dt>
            <label>Uso mensual mínimo</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoMensualMin)
        </dd>

        <dt>
            <label>Uso estimado</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoEstimado)
        </dd>

    </dl>
</div>
<p>
    @if (Model.ModuloAdaptador != null)
    {
        if (Model.ModuloAdaptador.Encendido)
        {
            using (Html.BeginForm())
            {
                @Ajax.ActionLink("Apagar", "Apagar", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST" })
            }
        }
        else
        {
            using (Html.BeginForm())
            {
                @Ajax.ActionLink("Encender", "Encender", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST" })
            }
        }
        <span>|</span>
        using (Html.BeginForm())
        {
            @Ajax.ActionLink("Modo ahorro", "ActivarAhorro", new { id = Model.Id }, new AjaxOptions { HttpMethod = "POST" })
        }
    }
    else
    {
        @Html.ActionLink("Adaptar", "Adaptar", new { id = Model.Id })
    } |
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |

    @Html.ActionLink("Volver al listado", "Index", "DispositivoCliente", new { id = Session["ClientId"]}, null)
</p>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('.apagarButton').click(function () {
            $(this).closest('form')[0].submit();
        });
    });
</script>
