@model Integrador.Models.DispositivoEstandar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DispositivoEstandar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreGenerico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreGenerico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsoMensualMax)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoMensualMax)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsoMensualMin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoMensualMin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsoEstimado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsoEstimado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver al listado", "Index", "DispositivoCliente")
</p>
