@model Integrador.Models.TemplateDispositivo

@{
    ViewBag.Title = "Detalle de dispositivo";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke">
    <h1>Detalle de dispositivo</h1>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Inteligente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Inteligente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BajoConsumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BajoConsumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Consumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Consumo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver a lista", "Index")
</p>
