@model IEnumerable<Integrador.Models.TemplateDispositivo>

@{
    ViewBag.Title = "Dispositivos";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke">
    <h1>Dispositivos</h1>
</div>

<p>
    @Html.ActionLink("Agregar dispositivo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Nombre
        </th>
        <th>
            Inteligente
        </th>
        <th>
            Bajo consumo
        </th>
        <th>
            Consumo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Inteligente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BajoConsumo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Consumo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalle", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
