@model Integrador.Models.Clases.Regla

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron" style="background-color: indigo; color: whitesmoke; padding-bottom: 15px">
    <h2>Eliminar Regla</h2>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReglaCumplida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReglaCumplida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condicion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condicion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" style="background-color:indigo; color: whitesmoke" /> |
        @Html.ActionLink("Volver al listado", "Index", "Reglas", new { id = Session["ClientId"] }, null)
    </div>
    }
</div>
