@model IEnumerable<Integrador.Models.Clases.Regla>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron mt-4" style="background-color: indigo; color: whitesmoke; padding-bottom: 20px; padding-top: 15px; padding-left: 25px">
    <h2>Reglas</h2>
</div>

<p>
    @Html.ActionLink("+Nueva Regla", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Condicion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReglaCumplida)
        </th>
        <th>
            Sensor
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@Url.Action("Details", "Reglas", new { id = item.Id })">
                    @Html.DisplayFor(modelItem => item.Id)
                </a>
            </td>
            <td>
                <a href="@Url.Action("Details", "Reglas", new { id = item.Id })">
                    @Html.DisplayFor(modelItem => item.Condicion)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Valor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReglaCumplida)
            </td>
            <td>
                <a href="@Url.Action("Details", "Sensors", new { id = item.SensorID })">
                    @Html.DisplayFor(modelItem => item.SensorID)
                </a>
            </td>
            <td>
                @Html.ActionLink("X", "Delete", "Reglas", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
