<div class="jumbotron mt-4" style="background-color: indigo; color: whitesmoke; padding-bottom: 20px; padding-top: 15px; padding-left: 25px">
    <h2>Resultado @ViewBag.Nombre </h2>
</div>
<div>
    <span style="text-align:center; color:seagreen"> @ViewBag.Mongo </span>
</div>

<p></p>
<table class="table">
    <tr>
        <th>
            Periodo(dias)
        </th>
        <th>
            Consumo total (kWh)
        </th>
        <th></th>
    </tr>
    <tr>
        <td>
            @ViewBag.Periodo
        </td>
        <td>
            @ViewBag.Consumo
        </td>
    </tr>

</table>

<p>
    @Html.ActionLink("Volver a reportes", "Index", "Report")
</p>

